[submodule "src/gpio_wheel_ros/GpioWheel"]
	path = src/robopi_actuators/lib/pi_ln298n
	url = https://github.com/phildue/GpioWheel
[submodule "src/robopi_actuators/ext/pi_ln298n"]
	path = src/robopi_actuators/ext/pi_ln298n
	url = https://github.com/phildue/pi-ln298n
[submodule "src/viso2"]
	path = src/viso2
	url = https://github.com/srv/viso2
