<launch>
    <arg name="node_start_delay" default="5.0" />
    <node name="gpio_motor" pkg="robopi_actuators" type="gpio_motor_node" output="screen"/>
    <node name="motor_cmd_pub" pkg="robopi_actuators" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " type="motor_cmd_pub_node" respawn="false" output="screen" ns="/"/>
</launch>